Package: com.zanehelton.redrectangle
Name: Red Rectangle
Depends: mobilesubstrate, ws.hbang.alderis (>= 1.1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
